<h1>data binding with ngModel and ngModelChange</h1>

<h3>one way data binding</h3>
<input type="text" [value]="inputValueOne" />

<h3>two way data binding</h3>
<input
  type="text"
  [value]="inputValueTwo"
  (keyup)="inputValueTwoChange($event)"
/>
<p>Result: {{ inputValueTwo }}</p>

<h3>ngModel</h3>
<input type="text" [(ngModel)]="inputValueThree" />
<input
  type="text"
  [ngModel]="inputValueThree"
  (ngModelChange)="inputValueThreeChange($event)"
/>
<p>Result: {{ inputValueThree }}</p>

<h3>Form</h3>
<form #searchTemplateForm="ngForm" (ngSubmit)="onSearchSubmit()">
  <input type="text" [(ngModel)]="searchForm.searchValue" name="searchValue" />
  <button type="submit" [disabled]="!searchTemplateForm.valid">Submit</button>
</form>
